.logo img {
    display: block;
    /* border: 1px solid red; */
    
}
/* .header.content {
    background: black;
} */
.page-header .panel.wrapper {
	display:none !important;
}
.panel.header{
	display:none;
}